#game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 2%;
}

.row {
    display: flex;
    gap: 10px;
}

.cell {
    width: 3vw;
    height: 3vw;
    border: 2px solid #3a3a3c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    box-sizing: border-box;
    color: #fff;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.cell.shake {
    animation: shake 0.3s ease-in-out;
}

.cell.correct {
    background-color: #538d4e; /* Green */
    border-color: #538d4e;
}

.cell.present {
    background-color: #b59f3b; /* Yellow */
    border-color: #b59f3b;
}

.cell.absent {
    background-color: #3a3a3c; /* Grey */
    border-color: #3a3a3c;
}

/* in mobile */
@media screen and (max-width: 768px) {
    #game-board {
        margin-bottom: 5%;
        gap: 15px;
    }

    .cell {
        width: 12vw;
        height: 12vw;
        font-size: 1.5em;
    }
}