header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 0.5% 0;
    z-index: 10;
    border-bottom: 1px solid var(--border-color);
}

header > h1 {
    margin: 0 20px;
}

.header-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 50%;
    user-select: none;
}

.header-buttons div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    fill: var(--text-color);
    color: var(--text-color);
    cursor: pointer;
    transition: fill 0.3s ease color 0.3s ease;
}

.header-buttons div:hover {
    fill: var(--hover-color);
    color: var(--hover-color);
}

.header-buttons div:active {
    transform: scale(1.15);
}

.header-buttons a {
    position: absolute;
    font-size: 0.8rem;
    font-weight: bold;
    transform: translateY(100%);
}

#diff-btn {
    transform: translateY(-20%);
}

#diff-btn:active {
    transform: translateY(-20%) scale(1.15);
}

#diff-btn svg {
    transform: scaleX(-1);
}

#info-btn {
    display: none;
}

#theme-btn {
    font-size: 1.2rem;
}

/* in mobile */
@media screen and (max-width: 768px) {
    header {
        padding: 2% 0;
    }
    
    .header-buttons {
        gap: 18%;
    }

    #info-btn {
        display: block;
    }
    .theme-btn {
        font-size: 1.3rem;
    }
}