header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 0.5% 0;
    z-index: 10;
    border-bottom: 1px solid var(--border-color);
}

header > h1 {
    position: absolute;
}

.header-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 50%;
    margin-left: auto;
}

.header-buttons svg {
    fill: var(--text-color);
    transition: fill 0.3s ease;
}

.header-buttons svg:hover {
    fill: var(--hover-color);
}

#hint-btn, #info-btn {
    cursor: pointer;
    transition: transform 0.2s ease;
}

#hint-btn:active, #info-btn:active {
    transform: scale(1.15);
}

#info-btn {
    display: none;
}

.theme-btn {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--text-color);
    transition: color 0.3s ease;
}

.theme-btn:hover {
  color: var(--hover-color);
}

/* in mobile */
@media screen and (max-width: 768px) {
    header {
        padding: 2% 0;
    }
    
    .header-buttons {
        width: 33%;
        gap: 6%;
    }

    #info-btn {
        display: block;
    }
    .theme-btn {
        font-size: 1.3rem;
    }
}